@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/kvitka-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  z-index: 10;
}

.blur-background {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}